{{define "content"}}
    {{if eq .content "index"}}
        {{template "index" .}}
    {{else if eq .content "projects"}}
        {{template "projects" .}}
    {{else if eq .content "new"}}
        {{template "new" .}}
    {{else if eq .content "show"}}
        {{template "show" .}}
    {{else if eq .content "edit"}}
        {{template "edit" .}}
    {{else if eq .content "error"}}
        {{template "error" .}}
    {{else if eq .content "import"}}
        {{template "import" .}}
    {{else if eq .content "settings"}}
        {{template "settings" .}}
    {{else if eq .content "beta_users"}}
        {{template "beta_users"}}
    {{end}}
{{end}}